In [52]:
import mysql.connector
conn = mysql.connector.connect (host="localhost",user="root",password="P@ranthu123.",database="dataspark")
cursor = conn.cursor()

In [33]:
import pandas as pd
df = pd.read_csv("dataspark.csv", index_col=0)

In [34]:
df

,order_number,line_item,order_date,customerkey,storekey,productkey,quantity,currency_code,country_x,state_x,...,exchange,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategorykey,subcategory,categorykey,category
0,366000,1,2016-01-01,265598,10,1304,1,CAD,Canada,Nunavut,...,1.3884,Contoso Lens Adapter M450 White,Contoso,White,$31.27,$68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders
1,366001,1,2016-01-01,1269051,0,1048,2,USD,Online,Online,...,1.0000,A. Datum SLR Camera X136 Silver,A. Datum,Silver,$141.47,$427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,366001,2,2016-01-01,1269051,0,2007,1,USD,Online,Online,...,1.0000,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,$220.64,$665.94,803,Microwaves,8,Home Appliances
3,366002,1,2016-01-01,266019,0,1106,7,CAD,Online,Online,...,1.3884,Contoso SLR Camera M146 Orange,Contoso,Orange,$148.08,$322.00,402,Digital SLR Cameras,4,Cameras and camcorders
4,366002,2,2016-01-01,266019,0,373,1,CAD,Online,Online,...,1.3884,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,$166.20,$326.00,301,Laptops,3,Computers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,1216913,43,632,3,USD,United States,Alaska,...,1.0000,WWI Screen 85in E1010 White,Wide World Importers,White,$70.87,$139.00,305,Projectors & Screens,3,Computers
62880,2243031,1,2021-02-20,511229,0,98,4,EUR,Online,Online,...,0.8238,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Silver,$55.18,$120.00,106,Bluetooth Headphones,1,Audio
62881,2243032,1,2021-02-20,331277,0,1613,2,CAD,Online,Online,...,1.2610,SV DVD 7-Inch Player Portable E200 White,Southridge Video,White,$56.08,$109.99,602,Movie DVD,6,"Music, Movies and Audio Books"
62882,2243032,2,2021-02-20,331277,0,1717,2,CAD,Online,Online,...,1.2610,MGS Flight Simulator X M250,Tailspin Toys,Pink,$32.25,$70.13,702,Download Games,7,Games and Toys
62883,2243032,3,2021-02-20,331277,0,464,7,CAD,Online,Online,...,1.2610,Proseware LCD22W M2001 Black,Proseware,Black,$224.97,$679.00,304,Monitors,3,Computers

In [35]:
df.head(5)

,order_number,line_item,order_date,customerkey,storekey,productkey,quantity,currency_code,country_x,state_x,...,exchange,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategorykey,subcategory,categorykey,category
0,366000,1,2016-01-01,265598,10,1304,1,CAD,Canada,Nunavut,...,1.3884,Contoso Lens Adapter M450 White,Contoso,White,$31.27,$68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders
1,366001,1,2016-01-01,1269051,0,1048,2,USD,Online,Online,...,1.0000,A. Datum SLR Camera X136 Silver,A. Datum,Silver,$141.47,$427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,366001,2,2016-01-01,1269051,0,2007,1,USD,Online,Online,...,1.0000,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,$220.64,$665.94,803,Microwaves,8,Home Appliances
3,366002,1,2016-01-01,266019,0,1106,7,CAD,Online,Online,...,1.3884,Contoso SLR Camera M146 Orange,Contoso,Orange,$148.08,$322.00,402,Digital SLR Cameras,4,Cameras and camcorders
4,366002,2,2016-01-01,266019,0,373,1,CAD,Online,Online,...,1.3884,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,$166.20,$326.00,301,Laptops,3,Computers

In [36]:
df["state_code"]=df["state_code"].fillna("NA")

In [37]:
df.isnull().sum()

order_number      0
line_item         0
order_date        0
customerkey       0
storekey          0
productkey        0
quantity          0
currency_code     0
country_x         0
state_x           0
square_meters     0
open_date         0
gender            0
name              0
city              0
state_code        0
state_y           0
zip_code          0
country_y         0
continent         0
birthday          0
exchange          0
product_name      0
brand             0
color             0
unit_cost_usd     0
unit_price_usd    0
subcategorykey    0
subcategory       0
categorykey       0
category          0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62884 entries, 0 to 62883
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_number    62884 non-null  int64
 1   line_item       62884 non-null  int64
 2   order_date      62884 non-null  object
 3   customerkey     62884 non-null  int64
 4   storekey        62884 non-null  int64
 5   productkey      62884 non-null  int64
 6   quantity        62884 non-null  int64
 7   currency_code   62884 non-null  object
 8   country_x       62884 non-null  object
 9   state_x         62884 non-null  object
 10  square_meters   62884 non-null  float64
 11  open_date       62884 non-null  object
 12  gender          62884 non-null  object
 13  name            62884 non-null  object
 14  city            62884 non-null  object
 15  state_code      62884 non-null  object
 16  state_y         62884 non-null  object
 17  zip_code        62884 non-null  object
 18  country_y       62884 non-null  object
 19  continent       62884 non-null  object
 20  birthday        62884 non-null  object
 21  exchange        62884 non-null  float64
 22  product_name    62884 non-null  object
 23  brand           62884 non-null  object
 24  color           62884 non-null  object
 25  unit_cost_usd   62884 non-null  object
 26  unit_price_usd  62884 non-null  object
 27  subcategorykey  62884 non-null  int64
 28  subcategory     62884 non-null  object
 29  categorykey     62884 non-null  int64
 30  category        62884 non-null  object
dtypes: float64(2), int64(8), object(21)
memory usage: 15.4+ MB

In [39]:
df["open_date"]=pd.to_datetime(df["open_date"])
df["birthday"]=pd.to_datetime(df["birthday"])
df["order_date"]=pd.to_datetime(df["order_date"])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62884 entries, 0 to 62883
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_number    62884 non-null  int64
 1   line_item       62884 non-null  int64
 2   order_date      62884 non-null  datetime64[ns]
 3   customerkey     62884 non-null  int64
 4   storekey        62884 non-null  int64
 5   productkey      62884 non-null  int64
 6   quantity        62884 non-null  int64
 7   currency_code   62884 non-null  object
 8   country_x       62884 non-null  object
 9   state_x         62884 non-null  object
 10  square_meters   62884 non-null  float64
 11  open_date       62884 non-null  datetime64[ns]
 12  gender          62884 non-null  object
 13  name            62884 non-null  object
 14  city            62884 non-null  object
 15  state_code      62884 non-null  object
 16  state_y         62884 non-null  object
 17  zip_code        62884 non-null  object
 18  country_y       62884 non-null  object
 19  continent       62884 non-null  object
 20  birthday        62884 non-null  datetime64[ns]
 21  exchange        62884 non-null  float64
 22  product_name    62884 non-null  object
 23  brand           62884 non-null  object
 24  color           62884 non-null  object
 25  unit_cost_usd   62884 non-null  object
 26  unit_price_usd  62884 non-null  object
 27  subcategorykey  62884 non-null  int64
 28  subcategory     62884 non-null  object
 29  categorykey     62884 non-null  int64
 30  category        62884 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(8), object(18)
memory usage: 15.4+ MB

In [22]:
df.duplicated().sum()

0

In [41]:
len(df)

62884

In [42]:
df

,order_number,line_item,order_date,customerkey,storekey,productkey,quantity,currency_code,country_x,state_x,...,exchange,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategorykey,subcategory,categorykey,category
0,366000,1,2016-01-01,265598,10,1304,1,CAD,Canada,Nunavut,...,1.3884,Contoso Lens Adapter M450 White,Contoso,White,$31.27,$68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders
1,366001,1,2016-01-01,1269051,0,1048,2,USD,Online,Online,...,1.0000,A. Datum SLR Camera X136 Silver,A. Datum,Silver,$141.47,$427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,366001,2,2016-01-01,1269051,0,2007,1,USD,Online,Online,...,1.0000,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,$220.64,$665.94,803,Microwaves,8,Home Appliances
3,366002,1,2016-01-01,266019,0,1106,7,CAD,Online,Online,...,1.3884,Contoso SLR Camera M146 Orange,Contoso,Orange,$148.08,$322.00,402,Digital SLR Cameras,4,Cameras and camcorders
4,366002,2,2016-01-01,266019,0,373,1,CAD,Online,Online,...,1.3884,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,$166.20,$326.00,301,Laptops,3,Computers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,1216913,43,632,3,USD,United States,Alaska,...,1.0000,WWI Screen 85in E1010 White,Wide World Importers,White,$70.87,$139.00,305,Projectors & Screens,3,Computers
62880,2243031,1,2021-02-20,511229,0,98,4,EUR,Online,Online,...,0.8238,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Silver,$55.18,$120.00,106,Bluetooth Headphones,1,Audio
62881,2243032,1,2021-02-20,331277,0,1613,2,CAD,Online,Online,...,1.2610,SV DVD 7-Inch Player Portable E200 White,Southridge Video,White,$56.08,$109.99,602,Movie DVD,6,"Music, Movies and Audio Books"
62882,2243032,2,2021-02-20,331277,0,1717,2,CAD,Online,Online,...,1.2610,MGS Flight Simulator X M250,Tailspin Toys,Pink,$32.25,$70.13,702,Download Games,7,Games and Toys
62883,2243032,3,2021-02-20,331277,0,464,7,CAD,Online,Online,...,1.2610,Proseware LCD22W M2001 Black,Proseware,Black,$224.97,$679.00,304,Monitors,3,Computers

In [28]:
df["open_date"] = pd.to_datetime(df["open_date"], errors='coerce')
df = df.where(pd.notnull(df), None)  # Convert NaN to None

In [46]:
create_table_query= """CREATE TABLE orders (
    order_number INT,
    line_item INT,
    order_date DATE,
    customerkey INT,
    storekey INT,
    productkey INT,
    quantity INT,
    currency_code VARCHAR(10),
    country_x VARCHAR(50),
    state_x VARCHAR(50),
    square_meters FLOAT,
    open_date DATE,
    gender VARCHAR(10),
    name VARCHAR(255),
    city VARCHAR(100),
    state_code VARCHAR(50),
    state_y VARCHAR(50),
    zip_code VARCHAR(20),
    country_y VARCHAR(50),
    continent VARCHAR(50),
    birthday DATE,
    exchange FLOAT,
    product_name VARCHAR(255),
    brand VARCHAR(100),
    color VARCHAR(50),
    unit_cost_usd VARCHAR(50),
    unit_price_usd VARCHAR(50),
    subcategorykey INT,
    subcategory VARCHAR(255),
    categorykey INT,
    category VARCHAR(255)
);
"""

In [47]:
cursor.execute(create_table_query)
conn.commit()

In [48]:
insert_sales_exchange_values = '''
    INSERT INTO orders (
        order_number, 
        line_item, 
        order_date, 
        customerkey, 
        storekey, 
        productkey, 
        quantity, 
        currency_code, 
        country_x, 
        state_x, 
        square_meters, 
        open_date, 
        gender, 
        name, 
        city, 
        state_code, 
        state_y, 
        zip_code, 
        country_y, 
        continent, 
        birthday, 
        exchange, 
        product_name, 
        brand, 
        color, 
        unit_cost_usd, 
        unit_price_usd, 
        subcategorykey, 
        subcategory, 
        categorykey, 
        category
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)
'''

# Insert data into the sales_exchange_table
for index, row in df.iterrows():
    cursor.execute(insert_sales_exchange_values, (
        row['order_number'],
        row['line_item'],
        row['order_date'],
        row['customerkey'],
        row['storekey'],
        row['productkey'],
        row['quantity'],
        row['currency_code'],
        row['country_x'],
        row['state_x'],
        row['square_meters'],
        row['open_date'],
        row['gender'],
        row['name'],
        row['city'],
        row['state_code'],
        row['state_y'],
        row['zip_code'],
        row['country_y'],
        row['continent'],
        row['birthday'],
        row['exchange'],
        row['product_name'],
        row['brand'],
        row['color'],
        row['unit_cost_usd'],
        row['unit_price_usd'],
        row['subcategorykey'],
        row['subcategory'],
        row['categorykey'],
        row['category']
    ))
conn.commit()

In [49]:
cursor.execute("SELECT COUNT(*) FROM orders")

# Fetch the result
row_count = cursor.fetchone()[0]
print(f"Number of rows in the table: {row_count}")
conn.commit()

Number of rows in the table: 62884